<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="userid" value=""/>
    <add key="passwd" value=""/>
    <add key="URL" value="https://my.sharpcloud.com"/>
    <add key="StartWindowDate" value="01 Jan 2017"/>
    <add key="EndWindowDate" value="31 Dec 2019"/>
    <add key="StartFieldName" value="Start2"/>
    <add key="EndFieldname" value="End2"/>
    <add key="StoryCount" value="20"/>
    <add key="Story01" value="7479a13f-ff96-4fa0-8208-c73852f9f4f3"/>
    <add key="Story02" value=""/>
    <add key="Story02" value=""/>
    <add key="Story03" value=""/>
    <add key="Story05" value=""/>
    <add key="Story06" value=""/>
    <add key="Story07" value=""/>
    <add key="Story08" value=""/>
    <add key="Story09" value=""/>
    <add key="Story10" value=""/>
    <add key="Story11" value=""/>
    <add key="Story12" value=""/>
    <add key="Story12" value=""/>
    <add key="Story13" value=""/>
    <add key="Story15" value=""/>
    <add key="Story16" value=""/>
    <add key="Story17" value=""/>
    <add key="Story18" value=""/>
    <add key="Story19" value=""/>
    <add key="Story20" value=""/>
  </appSettings>
</configuration>